@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&family=Raleway&display=swap');
/*imported them @import instead
here's how to call them:
font-family: 'MuseoModerno', cursive;
font-family: 'Raleway', sans-serif;*/

//Fonts
$main-font: 'Raleway', sans-serif;
$special-font: 'MuseoModerno', cursive;

// colors dark
$bg-color-dark: rgba(0, 0, 0, 0.911);
$font-color-dark: white;
$shadow-dark: 0px 4px 4px rgba(255, 255, 255, .25);


//colors light
$bg-color-light: white;
$font-color-light: #0007;
$shadow-light: 0px 4px 4px rgba(0, 0, 0, .25);